<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>30020002</key>
	<string>SHRT Image Label</string>
	<key>30020003</key>
	<string>LORT Image Name</string>
	<key>30020004</key>
	<string>STRT Image Description</string>
	<key>3002000A</key>
	<string>CSReported Values Origin</string>
	<key>3002000C</key>
	<string>CSRT Image Plane</string>
	<key>3002000D</key>
	<string>DSX-Ray Image Receptor Translation</string>
	<key>3002000E</key>
	<string>DSX-Ray Image Receptor Angle</string>
	<key>30020010</key>
	<string>DSRT Image Orientation</string>
	<key>30020011</key>
	<string>DSImage Plane Pixel Spacing</string>
	<key>30020012</key>
	<string>DSRT Image Position</string>
	<key>30020020</key>
	<string>SHRadiation Machine Name</string>
	<key>30020022</key>
	<string>DSRadiation Machine SAD</string>
	<key>30020024</key>
	<string>DSRadiation Machine SSD</string>
	<key>30020026</key>
	<string>DSRT Image SID</string>
	<key>30020028</key>
	<string>DSSource to Reference Object Distance</string>
	<key>30020029</key>
	<string>ISFraction Number</string>
	<key>30020030</key>
	<string>SQExposure Sequence</string>
	<key>30020032</key>
	<string>DSMeterset Exposure</string>
	<key>30020034</key>
	<string>DSDiaphragm Position</string>
	<key>30020040</key>
	<string>SQFluence Map Sequence</string>
	<key>30020041</key>
	<string>CSFluence Data Source</string>
	<key>30020042</key>
	<string>DSFluence Data Scale</string>
	<key>30040001</key>
	<string>CS DVH Type</string>
	<key>30040002</key>
	<string>CSDose Units</string>
	<key>30040004</key>
	<string>CSDose Type</string>
	<key>30040006</key>
	<string>LODose Comment</string>
	<key>30040008</key>
	<string>DSNormalization Point</string>
	<key>3004000A</key>
	<string>CSDose Summation Type</string>
	<key>3004000C</key>
	<string>DSGrid Frame Offset Vector</string>
	<key>3004000E</key>
	<string>DSDose Grid Scaling</string>
	<key>30040010</key>
	<string>SQRT Dose ROI Sequence</string>
	<key>30040012</key>
	<string>DSDose Value</string>
	<key>30040014</key>
	<string>CSTissue Heterogeneity Correction</string>
	<key>30040040</key>
	<string>DSDVH Normalization Point</string>
	<key>30040042</key>
	<string>DSDVH Normalization Dose Value</string>
	<key>30040050</key>
	<string>SQDVH Sequence</string>
	<key>30040052</key>
	<string>DSDVH Dose Scaling</string>
	<key>30040054</key>
	<string>CSDVH Volume Units</string>
	<key>30040056</key>
	<string>ISDVH Number of Bins</string>
	<key>30040058</key>
	<string>DSDVH Data</string>
	<key>30040060</key>
	<string>SQDVH Referenced ROI Sequence</string>
	<key>30040062</key>
	<string>CSDVH ROI Contribution Type</string>
	<key>30040070</key>
	<string>DSDVH Minimum Dose</string>
	<key>30040072</key>
	<string>DSDVH Maximum Dose</string>
	<key>30040074</key>
	<string>DSDVH Mean Dose</string>
	<key>7FE00010</key>
	<string>OXPixel Data</string>
	<key>FFFEE000</key>
	<string>DLItem</string>
	<key>FFFEE00D</key>
	<string>DLItem Delimitation Item</string>
</dict>
</plist>
