<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>00280002</key>
	<string>USSamples per Pixel</string>
	<key>00280004</key>
	<string>CSPhotometric Interpretation</string>
	<key>00280006</key>
	<string>USPlanar Configuration</string>
	<key>00280008</key>
	<string>ISNumber of Frames</string>
	<key>00280009</key>
	<string>ATFrame Increment Pointer</string>
	<key>00280010</key>
	<string>USRows</string>
	<key>00280011</key>
	<string>USColumns</string>
	<key>00280030</key>
	<string>DSPixel Spacing</string>
	<key>00280031</key>
	<string>DSZoom Factor</string>
	<key>00280032</key>
	<string>DSZoom Center</string>
	<key>00280034</key>
	<string>ISPixel Aspect Ratio</string>
	<key>00280051</key>
	<string>CSCorrected Image</string>
	<key>00280100</key>
	<string>USBits Allocated</string>
	<key>00280101</key>
	<string>USBits Stored</string>
	<key>00280102</key>
	<string>USHigh Bit</string>
	<key>00280103</key>
	<string>USPixel Representation</string>
	<key>00280106</key>
	<string>USSmallest Image Pixel Value</string>
	<key>00280107</key>
	<string>USLargest Image Pixel Value</string>
	<key>00280108</key>
	<string>USSmallest Pixel Value in Series</string>
	<key>00280109</key>
	<string>USLargest Pixel Value in Series</string>
	<key>00280120</key>
	<string>USPixel Padding Value</string>
	<key>00280300</key>
	<string>CSQuality Control Image</string>
	<key>00280301</key>
	<string>CSBurned In Annotation</string>
	<key>00281040</key>
	<string>CSPixel Intensity Relationship</string>
	<key>00281041</key>
	<string>SSPixel Intensity Relationship Sign</string>
	<key>00281050</key>
	<string>DSWindow Center</string>
	<key>00281051</key>
	<string>DSWindow Width</string>
	<key>00281052</key>
	<string>DSRescale Intercept</string>
	<key>00281053</key>
	<string>DSRescale Slope</string>
	<key>00281054</key>
	<string>LORescale Type</string>
	<key>00281055</key>
	<string>LOWindow Center &amp; Width Explanation</string>
	<key>00281101</key>
	<string>USRed Palette Color Lookup Table Descriptor</string>
	<key>00281102</key>
	<string>USGreen Palette Color Lookup Table Descriptor</string>
	<key>00281103</key>
	<string>USBlue Palette Color Lookup Table Descriptor</string>
	<key>00281201</key>
	<string>USRed Palette Color Lookup Table Data</string>
	<key>00281202</key>
	<string>USGreen Palette Color Lookup Table Data</string>
	<key>00281203</key>
	<string>USBlue Palette Color Lookup Table Data</string>
	<key>00282110</key>
	<string>CSLossy Image Compression</string>
	<key>00283000</key>
	<string>SQModality LUT Sequence</string>
	<key>00283002</key>
	<string>USLUT Descriptor</string>
	<key>00283003</key>
	<string>LOLUT Explanation</string>
	<key>00283004</key>
	<string>LOModality LUT Type</string>
	<key>00283006</key>
	<string>USLUT Data</string>
	<key>00283010</key>
	<string>SQVOI LUT Sequence</string>
	<key>0032000A</key>
	<string>CSStudy Status ID</string>
	<key>0032000C</key>
	<string>CSStudy Priority ID</string>
	<key>00320012</key>
	<string>LOStudy ID Issuer</string>
	<key>00320032</key>
	<string>DAStudy Verified Date</string>
	<key>00320033</key>
	<string>TMStudy Verified Time</string>
	<key>00320034</key>
	<string>DAStudy Read Date</string>
	<key>00320035</key>
	<string>TMStudy Read Time</string>
	<key>00321000</key>
	<string>DAScheduled Study Start Date</string>
	<key>00321001</key>
	<string>TMScheduled Study Start Time</string>
	<key>00321010</key>
	<string>DAScheduled Study Stop Date</string>
	<key>00321011</key>
	<string>TMScheduled Study Stop Time</string>
	<key>00321020</key>
	<string>LOScheduled Study Location</string>
	<key>00321021</key>
	<string>AEScheduled Study Location AE Title(s)</string>
	<key>00321030</key>
	<string>LOReason for Study</string>
	<key>00321032</key>
	<string>PNRequesting Physician</string>
	<key>00321033</key>
	<string>LORequesting Service</string>
	<key>00321040</key>
	<string>DAStudy Arrival Date</string>
	<key>00321041</key>
	<string>TMStudy Arrival Time</string>
	<key>00321050</key>
	<string>DAStudy Completion Date</string>
	<key>00321051</key>
	<string>TMStudy Completion Time</string>
	<key>00321055</key>
	<string>CSStudy Component Status ID</string>
	<key>00321060</key>
	<string>LORequested Procedure Description</string>
	<key>00321064</key>
	<string>SQRequested Procedure Code Sequence</string>
	<key>00321070</key>
	<string>LORequested Contrast Agent</string>
	<key>00324000</key>
	<string>LTStudy Comments</string>
	<key>00400001</key>
	<string>AEScheduled Station AE Title</string>
	<key>00400002</key>
	<string>DAScheduled Procedure Step Start Date</string>
	<key>00400003</key>
	<string>TMScheduled Procedure Step Start Time</string>
	<key>00400004</key>
	<string>DAScheduled Procedure Step End Date</string>
	<key>00400005</key>
	<string>TMScheduled Procedure Step End Time</string>
	<key>00400006</key>
	<string>PNScheduled Performing Physician's Name</string>
	<key>00400007</key>
	<string>LOScheduled Procedure Step Description</string>
	<key>00400008</key>
	<string>SQScheduled Action Item Code Sequence</string>
	<key>00400009</key>
	<string>SHScheduled Procedure Step ID</string>
	<key>00400010</key>
	<string>SHScheduled Station Name</string>
	<key>00400011</key>
	<string>SHScheduled Procedure Step Location</string>
	<key>00400012</key>
	<string>LOPre-Medication</string>
	<key>00400020</key>
	<string>CSScheduled Procedure Step Status</string>
	<key>00400100</key>
	<string>SQScheduled Procedure Step Sequence</string>
	<key>00400220</key>
	<string>SQReferenced Standalone SOP Instance Sequence</string>
	<key>00400241</key>
	<string>AEPerformed Station AE Title</string>
	<key>00400242</key>
	<string>SHPerformed Station Name</string>
	<key>00400243</key>
	<string>SHPerformed Location</string>
	<key>00400244</key>
	<string>DAPerformed Procedure Step Start Date</string>
	<key>00400245</key>
	<string>TMPerformed Procedure Step Start Time</string>
	<key>00400250</key>
	<string>DAPerformed Procedure Step End Date</string>
	<key>00400251</key>
	<string>TMPerformed Procedure Step End Time</string>
	<key>00400252</key>
	<string>CSPerformed Procedure Step Status</string>
	<key>00400253</key>
	<string>SHPerformed Procedure Step ID</string>
	<key>00400254</key>
	<string>LOPerformed Procedure Step Description</string>
	<key>00400255</key>
	<string>LOPerformed Procedure Type Description</string>
	<key>00400260</key>
	<string>SQPerformed Action Item Sequence</string>
	<key>00400270</key>
	<string>SQScheduled Step Attributes Sequence</string>
	<key>00400275</key>
	<string>SQRequest Attributes Sequence</string>
	<key>00400280</key>
	<string>STComments on the Performed Procedure Steps</string>
	<key>00400293</key>
	<string>SQQuantity Sequence</string>
	<key>00400294</key>
	<string>DSQuantity</string>
	<key>00400295</key>
	<string>SQMeasuring Units Sequence</string>
	<key>00400296</key>
	<string>SQBilling Item Sequence</string>
	<key>00400300</key>
	<string>USTotal Time of Fluoroscopy</string>
	<key>00400301</key>
	<string>USTotal Number of Exposures</string>
	<key>00400302</key>
	<string>USEntrance Dose</string>
	<key>00400303</key>
	<string>USExposed Area</string>
	<key>00400306</key>
	<string>DSDistance Source to Entrance</string>
	<key>00400307</key>
	<string>DSDistance Source to Support</string>
	<key>00400310</key>
	<string>STComments on Radiation Dose</string>
	<key>00400312</key>
	<string>DSX-Ray Output</string>
	<key>00400314</key>
	<string>DSHalf Value Layer</string>
	<key>00400316</key>
	<string>DSOrgan Dose</string>
	<key>00400318</key>
	<string>CSOrgan Exposed</string>
	<key>00400320</key>
	<string>SQBilling Procedure Step Sequence</string>
	<key>00400321</key>
	<string>SQFilm Consumption Sequence</string>
	<key>00400324</key>
	<string>SQBilling Supplies and Devices Sequence</string>
	<key>00400330</key>
	<string>SQReferenced Procedure Step Sequence</string>
	<key>00400340</key>
	<string>SQPerformed Series Sequence</string>
	<key>00400400</key>
	<string>LTComments on the Scheduled Procedure Step</string>
	<key>0040050A</key>
	<string>LOSpecimen Accession Number</string>
	<key>00400550</key>
	<string>SQSpecimen Sequence</string>
	<key>00400551</key>
	<string>LOSpecimen Identifier</string>
	<key>00400555</key>
	<string>SQAcquisition Context Sequence</string>
	<key>00400556</key>
	<string>STAcquisition Context Description</string>
	<key>0040059A</key>
	<string>SQSpecimen Type Code Sequence</string>
	<key>004006FA</key>
	<string>LOSlide Identifier</string>
	<key>0040071A</key>
	<string>SQImage Center Point Coordinates Sequence</string>
	<key>0040072A</key>
	<string>DSX offset in Slide Coordinate System</string>
	<key>0040073A</key>
	<string>DSY offset in Slide Coordinate System</string>
	<key>0040074A</key>
	<string>DSZ offset in Slide Coordinate System</string>
	<key>004008D8</key>
	<string>SQPixel Spacing Sequence</string>
	<key>004008DA</key>
	<string>SQCoordinate System Axis Code Sequence</string>
	<key>004008EA</key>
	<string>SQMeasurement Units Code Sequence</string>
	<key>00401001</key>
	<string>SHRequested Procedure ID</string>
	<key>00401002</key>
	<string>LOReason for the Requested Procedure</string>
	<key>00401003</key>
	<string>SHRequested Procedure Priority</string>
	<key>00401004</key>
	<string>LOPatient Transport Arrangements</string>
	<key>00401005</key>
	<string>LORequested Procedure Location</string>
	<key>00401006</key>
	<string> 1Placer Order Number / Procedure S</string>
	<key>00401007</key>
	<string> 1Filler Order Number / Procedure S</string>
	<key>00401008</key>
	<string>LOConfidentiality Code</string>
	<key>00401009</key>
	<string>SHReporting Priority</string>
	<key>00401010</key>
	<string>PNNames of Intended Recipients of Results</string>
	<key>00401400</key>
	<string>LTRequested Procedure Comments</string>
	<key>00402001</key>
	<string>LOReason for the Imaging Service Request</string>
	<key>00402004</key>
	<string>DAIssue Date of Imaging Service Request</string>
	<key>00402005</key>
	<string>TMIssue Time of Imaging Service Request</string>
	<key>00402006</key>
	<string> 1Placer Order Number / Imaging Service Request S</string>
	<key>00402007</key>
	<string> 1Filler Order Number / Imaging Service Request S</string>
	<key>00402008</key>
	<string>PNOrder Entered By</string>
	<key>00402009</key>
	<string>SHOrder Enterers Location</string>
	<key>00402010</key>
	<string>SHOrder Callback Phone Number</string>
	<key>00402016</key>
	<string>LOPlacer Order Number / Imaging Service Request</string>
	<key>00402017</key>
	<string>LOFiller Order Number / Imaging Service Request</string>
	<key>00402400</key>
	<string>LTImaging Service Request Comments</string>
	<key>00403001</key>
	<string>LOConfidentiality Constraint on Patient Data Description</string>
	<key>00408302</key>
	<string>DSEntrance Dose in mGy</string>
	<key>0040A010</key>
	<string>CSRelationship Type</string>
	<key>0040A027</key>
	<string>LOVerifying Organization</string>
	<key>0040A030</key>
	<string>DTVerification DateTime</string>
	<key>0040A032</key>
	<string>DTObservation DateTime</string>
	<key>0040A040</key>
	<string>CSValue Type</string>
	<key>0040A043</key>
	<string>SQConcept-name Code Sequence</string>
	<key>0040A050</key>
	<string>CSContinuity Of Content</string>
	<key>0040A073</key>
	<string>SQVerifying Observer Sequence</string>
	<key>0040A075</key>
	<string>PNVerifying Observer Name</string>
	<key>0040A088</key>
	<string>SQVerifying Observer Identification Code Sequence</string>
	<key>0040A0B0</key>
	<string>USReferenced Waveform Channels</string>
	<key>0040A120</key>
	<string>DTDateTime</string>
	<key>0040A121</key>
	<string>DADate</string>
	<key>0040A122</key>
	<string>TMTime</string>
	<key>0040A123</key>
	<string>PNPerson Name</string>
	<key>0040A124</key>
	<string>UIUID</string>
	<key>0040A130</key>
	<string>CSTemporal Range Type</string>
	<key>0040A132</key>
	<string>ULReferenced Sample Positions</string>
	<key>0040A136</key>
	<string>USReferenced Frame Numbers</string>
	<key>0040A138</key>
	<string>DSReferenced Time Offsets</string>
	<key>0040A13A</key>
	<string>DTReferenced Datetime</string>
	<key>0040A160</key>
	<string>UTText Value</string>
	<key>0040A168</key>
	<string>SQConcept Code Sequence</string>
	<key>0040A180</key>
	<string>USAnnotation Group Number</string>
	<key>0040A195</key>
	<string>SQModifier Code Sequence</string>
	<key>0040A300</key>
	<string>SQMeasured Value Sequence</string>
	<key>0040A30A</key>
	<string>DSNumeric Value</string>
	<key>0040A360</key>
	<string>SQPredecessor Documents Sequence</string>
	<key>0040A370</key>
	<string>SQReferenced Request Sequence</string>
	<key>0040A372</key>
	<string>SQPerformed Procedure Code Sequence</string>
	<key>0040A375</key>
	<string>SQCurrent Requested Procedure Evidence Sequence</string>
	<key>0040A385</key>
	<string>SQPertinent Other Evidence Sequence</string>
	<key>0040A491</key>
	<string>CSCompletion Flag</string>
	<key>0040A492</key>
	<string>LOCompletion Flag Description</string>
	<key>0040A493</key>
	<string>CSVerification Flag</string>
	<key>0040A504</key>
	<string>SQContent Template Sequence</string>
	<key>0040A525</key>
	<string>SQIdentical Documents Sequence</string>
	<key>0040A730</key>
	<string>SQContent Sequence</string>
	<key>0040B020</key>
	<string>SQAnnotation Sequence</string>
	<key>0040DB00</key>
	<string>CSTemplate Identifier</string>
	<key>0040DB06</key>
	<string>DTTemplate Version</string>
	<key>0040DB07</key>
	<string>DTTemplate Local Version</string>
	<key>0040DB0B</key>
	<string>CSTemplate Extension Flag</string>
	<key>0040DB0C</key>
	<string>UITemplate Extension Organization UID</string>
	<key>0040DB0D</key>
	<string>UITemplate Extension Creator UID</string>
	<key>0040DB73</key>
	<string>ULReferenced Content Item Identifier</string>
	<key>00540011</key>
	<string>USNumber of Energy Windows</string>
	<key>00540012</key>
	<string>SQEnergy Window Information Sequence</string>
	<key>00540013</key>
	<string>SQEnergy Window Range Sequence</string>
	<key>00540014</key>
	<string>DSEnergy Window Lower Limit</string>
	<key>00540015</key>
	<string>DSEnergy Window Upper Limit</string>
	<key>00540016</key>
	<string>SQRadiopharmaceutical Information Sequence</string>
	<key>00540017</key>
	<string>ISResidual Syringe Counts</string>
	<key>00540018</key>
	<string>SHEnergy Window Name</string>
	<key>00540020</key>
	<string>USDetector Vector</string>
	<key>00540021</key>
	<string>USNumber of Detectors</string>
	<key>00540022</key>
	<string>SQDetector Information Sequence</string>
	<key>00540030</key>
	<string>USPhase Vector</string>
	<key>00540031</key>
	<string>USNumber of Phases</string>
	<key>00540032</key>
	<string>SQPhase Information Sequence</string>
	<key>00540033</key>
	<string>USNumber of Frames in Phase</string>
	<key>00540036</key>
	<string>ISPhase Delay</string>
	<key>00540038</key>
	<string>ISPause Between Frames</string>
	<key>00540039</key>
	<string>CSPhase Description</string>
	<key>00540050</key>
	<string>USRotation Vector</string>
	<key>00540051</key>
	<string>USNumber of Rotations</string>
	<key>00540052</key>
	<string>SQRotation Information Sequence</string>
	<key>00540053</key>
	<string>USNumber of Frames in Rotation</string>
	<key>00540060</key>
	<string>USR-R Interval Vector</string>
	<key>00540061</key>
	<string>USNumber of R-R Intervals</string>
	<key>00540062</key>
	<string>SQGated Information Sequence</string>
	<key>00540063</key>
	<string>SQData Information Sequence</string>
	<key>00540070</key>
	<string>USTime Slot Vector</string>
	<key>00540071</key>
	<string>USNumber of Time Slots</string>
	<key>00540072</key>
	<string>SQTime Slot Information Sequence</string>
	<key>00540073</key>
	<string>DSTime Slot Time</string>
	<key>00540080</key>
	<string>USSlice Vector</string>
	<key>00540081</key>
	<string>USNumber of Slices</string>
	<key>00540090</key>
	<string>USAngular View Vector</string>
	<key>00540100</key>
	<string>USTime Slice Vector</string>
	<key>00540101</key>
	<string>USNumber of Time Slices</string>
	<key>00540200</key>
	<string>DSStart Angle</string>
	<key>00540202</key>
	<string>CSType of Detector Motion</string>
	<key>00540210</key>
	<string>ISTrigger Vector</string>
	<key>00540211</key>
	<string>USNumber of Triggers in Phase</string>
	<key>00540220</key>
	<string>SQView Code Sequence</string>
	<key>00540222</key>
	<string>SQView Modifier Code Sequence</string>
	<key>00540300</key>
	<string>SQRadionuclide Code Sequence</string>
	<key>00540302</key>
	<string>SQAdministration Route Code Sequence</string>
	<key>00540304</key>
	<string>SQRadiopharmaceutical Code Sequence</string>
	<key>00540306</key>
	<string>SQCalibration Data Sequence</string>
	<key>00540308</key>
	<string>USEnergy Window Number</string>
	<key>00540400</key>
	<string>SHImage ID</string>
	<key>00540410</key>
	<string>SQPatient Orientation Code Sequence</string>
	<key>00540412</key>
	<string>SQPatient Orientation Modifier Code Sequence</string>
	<key>00540414</key>
	<string>SQPatient Gantry Relationship Code Sequence</string>
	<key>00540500</key>
	<string>CSSlice Progression Direction</string>
	<key>00541000</key>
	<string>CSSeries Type</string>
	<key>00541001</key>
	<string>CSUnits</string>
	<key>00541002</key>
	<string>CSCounts Source</string>
	<key>00541004</key>
	<string>CSReprojection Method</string>
	<key>00541100</key>
	<string>CSRandoms Correction Method</string>
	<key>00541101</key>
	<string>LOAttenuation Correction Method</string>
	<key>00541102</key>
	<string>CSDecay Correction</string>
	<key>00541103</key>
	<string>LOReconstruction Method</string>
	<key>00541104</key>
	<string>LODetector Lines of Response Used</string>
	<key>00541105</key>
	<string>LOScatter Correction Method</string>
	<key>00541200</key>
	<string>DSAxial Acceptance</string>
	<key>00541201</key>
	<string>ISAxial Mash</string>
	<key>00541202</key>
	<string>ISTransverse Mash</string>
	<key>00541203</key>
	<string>DSDetector Element Size</string>
	<key>00541210</key>
	<string>DSCoincidence Window Width</string>
	<key>00541220</key>
	<string>CSSecondary Counts Type</string>
	<key>00541300</key>
	<string>DSFrame Reference Time</string>
	<key>00541310</key>
	<string>ISPrimary (Prompts) Counts Accumulated</string>
	<key>00541311</key>
	<string>ISSecondary Counts Accumulated</string>
	<key>00541320</key>
	<string>DSSlice Sensitivity Factor</string>
	<key>00541321</key>
	<string>DSDecay Factor</string>
	<key>00541322</key>
	<string>DSDose Calibration Factor</string>
	<key>00541323</key>
	<string>DSScatter Fraction Factor</string>
	<key>00541324</key>
	<string>DSDead Time Factor</string>
	<key>00541330</key>
	<string>USImage Index</string>
	<key>00541400</key>
	<string>CSCounts Included</string>
	<key>00541401</key>
	<string>CSDead Time Correction Flag</string>
	<key>20300010</key>
	<string>USAnnotationPosition</string>
	<key>20300020</key>
	<string>LOTextString</string>
	<key>20500010</key>
	<string>SQPresentation LUT Sequence</string>
	<key>20500020</key>
	<string>CSPresentation LUT Shape</string>
	<key>20500500</key>
	<string>SQReferenced Presentation LUT Sequence</string>
</dict>
</plist>
